<div class= "jumbotron">
	<h1>Welcome to my Pinteresting! </h1>
	<p><a href="http://facebook.com/olcaysarmaz">Olcay Sarmaz</a> Pinteresting App</p>
	<p>Click here to <%= link_to "Sign up", "about", class: "btn btn-primary"%>.</p>
</div>